@font-face {
    font-family: miletra;
    src: url(../MontserratSigmar/Montserrat/static/Montserrat-Regular.ttf)
}

:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/fondowebjpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    font-family: miletra;
    text-align: center;
    color:yellow;
    font-size: 3rem;
}

table {
    margin:auto;
    border-color: white;
    border-style: solid;
}


td {
    background-color: beige;
    text-align: center;
}

.nombre{
    font-family: miletra;
    font-weight: bold;
    color: chocolate;
}

form {
    margin: auto;
    text-align: center;
    background-color: wheat;
    padding-bottom: 2rem;
    font-family: miletra;
    width: 50%;
}

label {
    display: block;
    text-align: center;
    margin: auto;
    align-items: center;
}
